<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.Zap"
    version   = "1.0.0">

<name>宜蘭婦幼</name>

<description>
孩子接種疫苗是每位父母親必須經歷的過程，為了讓父母親能更方便、更快速的掌握各項婦幼醫療照護資訊。婦幼照護的關鍵，除了醫護人員的醫療照顧外，更重要的是新手父母及親友完善的照護。本團隊針對疫苗接種及婦幼照護設計出「宜蘭婦幼」(Yilan for you) App。
</description>

<author href="" email="">
宜蘭婦幼
</author>

<preference name="orientation" value="portrait" />
<preference name="android-minSdkVersion" value="7" />


<icon src="images/logo.fw.png" gap:platform="android" />
<gap:splash src="images/loading.fw.png" gap:platform="android" />

<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>

</widget>
